DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
PORT=

# CONFIGURACIÓN CLOUDINARY (ALMACENAMIENTO DE EVIDENCIA FOTOGRÁFICA)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=

# CONFIGURACIÓN CORREO ELECTRÓNICO (SMTP) - NOTIFICACIONES Y RECUPERACIÓN
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM="SIGI Notificaciones <no-reply@sigi.gov.co>"
APP_URL=http://localhost:3000
SESSION_SECRET=mi_secreto_super_seguro
